// Include config
includeConfig "${projectDir}/nextflow.config"

params {
   // ─── REQUIRED INPUTS ─────────────────────────────────────────────
    input               = "/path/to/input/data"
    sample_sheet        = "/path/to/samplesheet.csv"
    outdir              = "/path/to/output/results"
    reference_genome    = "/path/to/reference/genome.fa"
    reference_gtf       = "/path/to/reference/annotation.gtf"
    transcriptome_fasta = "/path/to/reference/transcriptome.fa"
    jaffal_data_dir     = "/path/to/jaffal/data"

    //MODULES
    qc = true
    assembly = true
    expression = true
    fusions = true

    //EXTRA OPTS
    nanoplot_extra_opts = "--color royalblue --dpi 300"
    custom_primers_file = "/path/to/custom/primers.fas"

    //Additional params
    container_folder = "/path/to/singularity/images/"
    store_full_length_reads = false
}

process {
    withName: 'nanoplot' {
        //container = "${params.container_folder}nanoplot_1.41.0--pyhdfd78af_0.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/nanoplot_1.41.0--pyhdfd78af_0.sif':
                        'quay.io/biocontainers/nanoplot:1.41.0--pyhdfd78af_0' }"} 
    }
    withName: 'merge_nanoplot' {
        //container = "${params.container_folder}nanoplot_1.41.0--pyhdfd78af_0.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/nanoplot_1.41.0--pyhdfd78af_0.sif':
                        'quay.io/biocontainers/nanoplot:1.41.0--pyhdfd78af_0' }"} 
    }
    withName: 'pychopper' {
        //container = "${params.container_folder}pychopper_2.7.10--pyhdfd78af_0.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/pychopper_2.7.10--pyhdfd78af_0.sif':
                        'quay.io/biocontainers/pychopper:2.7.10--pyhdfd78af_0' }"} 
    }
    withLabel: 'minimap2' {
        //container = "${params.container_folder}minimap2_2.30.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/minimap2_2.30.sif':
                        'evanderwerf/minimap2:2.30' }"} 
    }
    withLabel: 'samtools'{
        //container = "${params.container_folder}samtools-1.16.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/samtools-1.16.sif':
                        'quay.io/biocontainers/samtools:1.16.1--h6899075_1' }"} 
    }
    withName: 'stringtie' {
        //container = "${params.container_folder}stringtie-3.0.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/stringtie-3.0.sif':
                        'jysgro/stringtie:3.0.0' }"} 
        container = "${params.container_folder}minimap2_2.30.sif"
    }
    withName:seqkit_stats {
        container = "${params.container_folder}seqkit-2.5.1.sif"
    }
    withName:stringtie {
        container = "${params.container_folder}stringtie-3.0.sif"
    }
    withName:stringtie_summary {
        container = "${params.container_folder}gffcompare-0.12.6.sif"
    }
    withLabel: 'gffcompare' {
        //container = "${params.container_folder}gffcompare-0.12.6.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/gffcompare-0.12.6.sif':
                        'quay.io/biocontainers/gffcompare:0.12.6--h4ac6f70_2' }"} 
    }
    withLabel: 'python' {
        //container = "${params.container_folder}merge_tsvfiles_python.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/merge_tsvfiles_python.sif':
                        'anabuurs/dataframe_merge:2.0' }"} 
    }
    withName: 'filter_annotate' {
        //container = "${params.container_folder}/r_rna_filter-4.1.2.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/r_rna_filter-4.1.2.sif':
                        'vanheeschlab/r_rna_filter:v4.1.2' }"} 
    }
    withName: 'transcriptome_fasta' {
        //container = "${params.container_folder}/gffread-0.12.6.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/gffread-0.12.6.sif':
                        'bschiffthaler/gffread:0.12.6' }"}
        containerOptions = '--entrypoint=' 
    }
    withName: 'salmon' {
        //container = "${params.container_folder}salmon-1.8.0.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/salmon-1.8.0.sif':
                        'combinelab/salmon:1.8.0' }"} 
    }
    withName: 'salmon_tables' {
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + 'nf_rna_seq_r-1.0.0.sif':
                        'evanderwerf/nf_rna_seq_r:1.0.0' }"}
    }
    withName: 'multiqc' {
        //container = "${params.container_folder}multiqc-1.30.sif"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/multiqc-1.33.sif':
                        'evanderwerf/multiqc:1.33' }"} 
    }
    withName: 'seqkit_stats'{
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            params.container_folder + '/multiqc-1.30.sif':
                        'pegi3s/seqkit:2.5.1' }"}
        containerOptions = '--entrypoint='
    }
    withName: 'versions'{
        container = 'ubuntu:20.04'
    }
    withName: 'jaffal'{
        container = "/path/to/singularity/JAFFA_NF.sif"
    }
}

workDir = "${params.outdir}/work"


