params {
    // ─── REQUIRED INPUTS ─────────────────────────────────────────────
    input = "/hpc/pmc_vanheesch/projects/Marina/dev/nf_longread_pipeline/test/data/"
    sample_sheet = "/hpc/pmc_vanheesch/projects/Marina/dev/nf_longread_pipeline/test/documentation/test_samplesheet.csv"
    outdir = "/hpc/pmc_vanheesch/projects/Marina/dev/nf_longread_pipeline/test/output/"
    reference_genome = "/hpc/pmc_vanheesch/shared_resources/GENOMES/Homo_sapiens.GRCh38/gencode_48/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
    reference_gtf = "/hpc/pmc_vanheesch/shared_resources/GENOMES/Homo_sapiens.GRCh38/gencode_48/annotation/Homo_sapiens.GRCh38.gencode_48.gtf"
    transcriptome_fasta = "/hpc/pmc_vanheesch/shared_resources/GENOMES/Homo_sapiens.GRCh38/gencode_48/Homo_sapiens.GRCh38.cdna.all.fa"

    // ---MODULE TOGGLES ------------------------------------------------
    qc = true
    assembly = false 
    expression = false

    // ---EXTRA OPTS ----------------------------------------------------
    nanoplot_extra_opts="--color skyblue -f pdf --dpi 300"
    //custom_primers_file= "/hpc/pmc_vanheesch/projects/Marina/dev/nf_longread_pipeline/test/documentation/teloprime_adapters.fas"

    // ---ADDITIONAL PARAMS ----------------------------------------------
    container_folder="/hpc/local/Rocky8/pmc_vanheesch/singularity_images/"
}


//---CONTAINERS ----------------------------------------------------------
process {
    withName:nanoplot {
        container = "${params.container_folder}nanoplot_1.41.0--pyhdfd78af_0.sif"
    }
    withName:pychopper {
        container = "${params.container_folder}pychopper_2.7.10--pyhdfd78af_0.sif"
    }
    withLabel: 'minimap2' {
        container = "${params.container_folder}minimap2_2.28--h577a1d6_4.sif"
    }
    withLabel: 'samtools'{
        container = "${params.container_folder}samtools-1.16.sif"
    }
    withName:STRINGTIE {
        container = "${params.container_folder}stringtie-3.0.sif"
    }
    withLabel: 'gffcompare' {
        container = "${params.container_folder}gffcompare-0.12.6.sif"
    }
    withLabel: 'python' {
        container = "${params.container_folder}merge_tsvfiles_python.sif"
    }
    withName:FILTER_ANNOTATE {
        container = "${params.container_folder}/r_rna_filter-4.1.2.sif"
    }
    withName:TRANSCRIPTOME_FASTA {
        container = "${params.container_folder}/gffread-0.12.6.sif"
    }
    withName:SALMON {
        container = "${params.container_folder}salmon-1.8.0.sif"
    }
    withName:MULTIQC {
        container = "${params.container_folder}multiqc-1.25.1.sif"
    }

}

profiles {
    slurm {
        process.queue     = 'cpu'
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B "/hpc:/hpc" -B "/tmp:/tmp" --env "LC_ALL=C.UTF-8"'
}

// ─── Nanoplot REQUIREMENTS ────────────────────────────────────────
//TODO: is there a better way to handle this?
process {
  withName: nanoplot {
    environment = [
      'FONTCONFIG_PATH': "~/kaleido-fonts/",
      'LC_ALL': 'C.UTF-8',
      'LANG': 'C.UTF-8'
    ]
    beforeScript = """
      export TMPDIR=/tmp/${USER}-kaleido
      mkdir -p \$TMPDIR
    """
  }
}


