params {
    //REQUIRED PARAMS
    input = null
    sample = null
    sample_sheet = null

    //OUTPUT
    outdir = "results"
    output_prefix = "output"

    //REFERENCE PATHS
    reference_genome = null
    reference_gtf = false
    masked_fasta = false
    transcriptome_fasta = false

    //TOGGLE MODULES
    qc = true
    assembly = true
    expression = true

    //EXTRA OPTS 
    //pychopper
    cdna_kit = "PCB114" 
    custom_primers_file = null
    pychopper_backend = "edlib"
    pychopper_extra_opts = ""
    store_full_length_reads = true

    //minimap
    minimap_extra_opts = ""
    minimap_index_extra_opts = ""
    minimap_transcripts_extra_opts = ""

    //stringtie 
    stringtie_extra_opts = ""

    //filter_annotate
    min_tpm = 0.1
    min_occurrence = 1

    //salmon
    salmon_extra_opts = "--ont"

    //multiqc
    multiqc_config = "${projectDir}/assets/multiqc_config.yml"
}

executor {
    $slurm {
        queueSize = 30
        pollInterval = '30sec'
        queueStatInterval = '1min'
    }
}

env {
    PYTHONPATH = "$projectDir/bin:$PYTHONPATH"
}

// Define profiles
profiles {
    local {
        process {
            executor = 'local'
            cpus   = 2
            memory = '10.GB'
            time   = '1.h'
        }
    }

    slurm {
        process.executor = 'slurm'
        process.shell = ['/bin/bash', '-euo', 'pipefail']

    }
}

// Include base config
includeConfig 'configs/base.config'

// Capture Nextflow log files
timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/execution_info/execution_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/execution_info/execution_report.html"
}
trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/execution_info/execution_trace.txt"
}
dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/execution_info/pipeline_dag.svg"
}