// Execution config

params {
    max_memory                 = '256.GB'
    max_cpus                   = 32
    max_time                   = '240.h'
}

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
profiles {
    slurm {
        process {
            cpus   = { check_max( 2    * task.attempt, 'cpus'   ) }
            memory = { check_max( 10.GB * task.attempt, 'memory' ) }
            time   = { check_max( 4.h  * task.attempt, 'time'   ) }

            errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
            maxRetries    = 3
            maxErrors     = '-1'

            withName: 'pychopper' {
                cpus   = { check_max( 8 * task.attempt, 'cpus'   ) }
                memory = { check_max( 48.GB * task.attempt, 'memory' ) }
                time   = { check_max( (params.pychopper_backend == 'phmm' ? 36.h : 16.h) * task.attempt, 'time'   ) }
            }

            withLabel: 'process_superlow' {
                //merge_nanoplot, write_output_samplesheet, parse_tracking, versions, stringtie_summary, multiqc
                cpus   = { check_max( 1     * task.attempt, 'cpus'   ) }
                memory = { check_max( 4.GB * task.attempt, 'memory' ) }
                time   = { check_max( 1.h   * task.attempt, 'time'   ) }
            }

            withLabel: 'process_low' {
                //merge_gtfs, filter_annotate, transcriptome_fasta, create_minimap2_index, salmon_tables
                cpus   = { check_max( 1     * task.attempt, 'cpus'   ) }
                memory = { check_max( 24.GB * task.attempt, 'memory' ) }
                time   = { check_max( 1.h   * task.attempt, 'time'   ) }
            }

            withLabel: 'process_low_long' {
                //nanoplot
                cpus   = { check_max( 1     * task.attempt, 'cpus'   ) }
                memory = { check_max( 12.GB * task.attempt, 'memory' ) }
                time   = { check_max( 4.h   * task.attempt, 'time'   ) }
            }

            withLabel: 'process_medium' {
                //salmon, stringtie, sekqit_stats
                cpus   = { check_max( 12    * task.attempt, 'cpus'   ) }
                memory = { check_max( 36.GB * task.attempt, 'memory' ) }
                time   = { check_max( 4.h  * task.attempt, 'time'    ) }
            }

            withLabel: 'process_high' {
                //minimap2
                cpus   = { check_max( 16     * task.attempt, 'cpus'   ) }
                memory = { check_max( 82.GB * task.attempt, 'memory' ) }
                time   = { check_max( 16.h   * task.attempt, 'time'   ) }
            }

            withLabel: 'process_extreme' {
                //jaffal
                cpus   = { check_max( 20     * task.attempt, 'cpus'   ) }
                memory = { check_max( 150.GB * task.attempt, 'memory' ) }
                time   = { check_max( 40.h   * task.attempt, 'time'   ) }
            }
        }
    }  
}

// File publishing config
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: 'pychopper' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: '{*_pychopper_report.pdf,*_pychopper_stats.tsv}'
            ],
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}/full_length_reads" },
                mode: 'copy',
                saveAs: { filename -> params.store_full_length_reads ? filename : null },
                pattern: '*_full_length_reads.fastq.gz'
            ]
        ]
    }
    withName: 'minimap2' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: 'copy',
                pattern: '*.sorted.bam*'
            ],
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: 'copy',
                pattern: '*.stats'
            ]
        ]
    }
    withName: 'seqkit_stats' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: 'copy',
                pattern: 'minimap2_bams_seqkit_stats.tsv'
            ]
        ]
    }
    withName: 'stringtie' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: 'copy', 
                pattern: '{*.gff,*.txt}'

            ]
        ]
    }
    withName: 'write_output_samplesheet' {
        publishDir = [
            [
                path: { "${params.outdir}/output_samplesheet" },
                mode: 'copy'
            ]
        ]
    }
    withLabel: 'merge_gtfs' {
        publishDir = [
            [
                path: { "${params.outdir}/merged_gtf" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withLabel: 'remap' {
        publishDir = [
            [
                enabled: false
            ]
        ]
    }
    withName: 'salmon' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: 'copy',
                saveAs: { filename -> filename.endsWith("quant.sf") ? filename : null }
            ]
        ]
    }
    withName: 'salmon_tables' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'jaffal' {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: 'versions' {
        publishDir = [
            [
                path: { "${params.outdir}/pipeline_info" },
                mode: 'copy'
            ]
        ]
    }
}
